(
    palette: Light((
        name: "kanagawa-lotus",
        bright_red: (
            red: 0.7843,
            green: 0.2510,
            blue: 0.3255,
            alpha: 1.0,
        ),
        bright_green: (
            red: 0.3843,
            green: 0.5059,
            blue: 0.3412,
            alpha: 1.0,
        ),
        bright_orange: (
            red: 0.8784,
            green: 0.4784,
            blue: 0.3725,
            alpha: 1.0,
        ),
        gray_1: (
            red: 0.9451,
            green: 0.9608,
            blue: 0.9725,
            alpha: 1.0,
        ),
        gray_2: (
            red: 0.7176,
            green: 0.7569,
            blue: 0.6471,
            alpha: 1.0,
        ),
        neutral_0: (
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
        ),
        neutral_1: (
            red: 0.9098,
            green: 0.8863,
            blue: 0.6980,
            alpha: 1.0,
        ),
        neutral_2: (
            red: 0.7176,
            green: 0.7569,
            blue: 0.6471,
            alpha: 1.0,
        ),
        neutral_3: (
            red: 0.4902,
            green: 0.4902,
            blue: 0.5569,
            alpha: 1.0,
        ),
        neutral_4: (
            red: 0.3294,
            green: 0.3294,
            blue: 0.3922,
            alpha: 1.0,
        ),
        neutral_5: (
            red: 0.2627,
            green: 0.2627,
            blue: 0.4235,
            alpha: 1.0,
        ),
        neutral_6: (
            red: 0.2627,
            green: 0.2627,
            blue: 0.4235,
            alpha: 1.0,
        ),
        neutral_7: (
            red: 0.2627,
            green: 0.2627,
            blue: 0.4235,
            alpha: 1.0,
        ),
        neutral_8: (
            red: 0.2627,
            green: 0.2627,
            blue: 0.4235,
            alpha: 1.0,
        ),
        neutral_9: (
            red: 0.2627,
            green: 0.2627,
            blue: 0.4235,
            alpha: 1.0,
        ),
        neutral_10: (
            red: 0.2627,
            green: 0.2627,
            blue: 0.4235,
            alpha: 1.0,
        ),
        accent_blue: (
            red: 0.3020,
            green: 0.4118,
            blue: 0.6196,
            alpha: 1.0,
        ),
        accent_indigo: (
            red: 0.3020,
            green: 0.4118,
            blue: 0.6196,
            alpha: 1.0,
        ),
        accent_purple: (
            red: 0.6353,
            green: 0.3804,
            blue: 0.5647,
            alpha: 1.0,
        ),
        accent_pink: (
            red: 0.7020,
            green: 0.3569,
            blue: 0.4157,
            alpha: 1.0,
        ),
        accent_red: (
            red: 0.7843,
            green: 0.2510,
            blue: 0.3255,
            alpha: 1.0,
        ),
        accent_orange: (
            red: 0.8784,
            green: 0.4784,
            blue: 0.3725,
            alpha: 1.0,
        ),
        accent_yellow: (
            red: 0.8941,
            green: 0.7882,
            blue: 0.6863,
            alpha: 1.0,
        ),
        accent_green: (
            red: 0.3843,
            green: 0.5059,
            blue: 0.3412,
            alpha: 1.0,
        ),
        accent_warm_grey: (
            red: 0.4902,
            green: 0.4902,
            blue: 0.5569,
            alpha: 1.0,
        ),
        ext_warm_grey: (
            red: 0.4902,
            green: 0.4902,
            blue: 0.5569,
            alpha: 1.0,
        ),
        ext_orange: (
            red: 0.8784,
            green: 0.4784,
            blue: 0.3725,
            alpha: 1.0,
        ),
        ext_yellow: (
            red: 0.8941,
            green: 0.7882,
            blue: 0.6863,
            alpha: 1.0,
        ),
        ext_blue: (
            red: 0.3020,
            green: 0.4118,
            blue: 0.6196,
            alpha: 1.0,
        ),
        ext_purple: (
            red: 0.6353,
            green: 0.3804,
            blue: 0.5647,
            alpha: 1.0,
        ),
        ext_pink: (
            red: 0.7020,
            green: 0.3569,
            blue: 0.4157,
            alpha: 1.0,
        ),
        ext_indigo: (
            red: 0.3020,
            green: 0.4118,
            blue: 0.6196,
            alpha: 1.0,
        ),
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (4.0, 4.0, 4.0, 4.0),
        radius_s: (8.0, 8.0, 8.0, 8.0),
        radius_m: (16.0, 16.0, 16.0, 16.0),
        radius_l: (32.0, 32.0, 32.0, 32.0),
        radius_xl: (160.0, 160.0, 160.0, 160.0),
    ),
    neutral_tint: Some((
        red: 0.4902,
        green: 0.4902,
        blue: 0.5569,
    )),
    bg_color: Some((
        red: 0.9490,
        green: 0.9255,
        blue: 0.7373,
        alpha: 1.0,
    )),
    primary_container_bg: Some((
        red: 0.9098,
        green: 0.8863,
        blue: 0.6980,
        alpha: 1.0,
    )),
    secondary_container_bg: None,
    text_tint: Some((
        red: 0.2627,
        green: 0.2627,
        blue: 0.4235,
    )),
    accent: Some((
        red: 0.3020,
        green: 0.4118,
        blue: 0.6196,
    )),
    success: Some((
        red: 0.3843,
        green: 0.5059,
        blue: 0.3412,
    )),
    warning: Some((
        red: 0.8784,
        green: 0.4784,
        blue: 0.3725,
    )),
    destructive: Some((
        red: 0.7843,
        green: 0.2510,
        blue: 0.3255,
    )),
    is_frosted: false,
    gaps: (0, 8),
    active_hint: 3,
    window_hint: Some((
        red: 0.3020,
        green: 0.4118,
        blue: 0.6196,
    )),
)
